<div class="parent">
    <div class="left">
        <h1>MY APPLICATION</h1>
        <h3 routerLink="home" class="b1">Home</h3>
        <h3 routerLink="welcome" class="b1">Welcome</h3>
        <h3 routerLink="DataBinding" class="b1">DataBinding</h3>
        <h3 routerLink="calculator" class="b1">Calculator</h3>
        <h3 routerLink="rectangle" class="b1">Rectangle</h3>
        <h3 routerLink="circle" class="b1">Circle</h3>
        <h3 routerLink="BMI" class="b1">BMI</h3>
        <h3 routerLink="directives" class="b1">directives</h3>
        <h3 routerLink="EventRegistration" class="b1">EventRegistration</h3>
        <h3 routerLink="EmployeeRegistration" class="b1">EmployeeRegistration</h3>
        <h3 routerLink="Employee" class="b1">Employee</h3>
        <h3 routerLink="Flipkart" class="b1">Flipkart</h3>
        <h3 routerLink="vehicle" class="b1">vehicle</h3>
        <h3 routerLink="account" class="b1">account</h3>
        <h3 routerLink="amazon" class="b1">amazon</h3>
        <h3 routerLink="mail" class="b1">mail</h3>
        <h3 routerLink="photo" class="b1">photo</h3>
        <h3 routerLink="weather" class="b1">weather</h3>
        <h3 routerLink="applicationblog" class="b1">applicationblog</h3>
        <h3 routerLink="IMDB" class="b1">IMDB</h3>
        <h3 routerLink="pokemon" class="b1">pokemon</h3>
        <h3 routerLink="create-vehicle" class="b1">create-vehicle</h3>
        <h3 routerLink="create-account" class="b1">create-account</h3>
        <h3 routerLink="student_id" class="b1">student_id</h3>
        <h3 routerLink="create-studentId" class="b1">create-studentId</h3>


        <button routerLink="/login" class="b1">Logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
        
    
</div>
