<input type="text" placeholder="search" [(ngModel)]="term" (keyup)="filter()">
<!-- sorted -->
 <select [(ngModel)]="column">
    <option>school_name</option>
    <option>Name</option>
    <option>Phone</option>
    <option>DOB</option>
    <option>City</option>
    <option>Email</option>
    <option>profile_picture</option>
</select>
<select [(ngModel)]="order">
    <option value="asc">ascending</option>
    <option value="desc">descending</option>
</select>
<button (click)="sort()" class="btn btn-primary">Sort</button>


<!-- pagination -->
 <select [(ngModel)]="limit">
    <option>10</option>
    <option>20</option>
    <option>30</option>
</select>

<select [(ngModel)]="page">
   <option>1</option>
   <option>2</option>
   <option>3</option>
</select>
<button (click)="pagination()" class="btn btn-info">pagination</button>
<button routerLink="../create-studentId">Create A New Id</button>
<body>
 


  <div class="card" *ngFor="let studentId of studentId">
    <img class="logo" src="{{studentId.school_logo}}" alt="">
    <img class="logo1" src="{{studentId.school_logo}}" alt="">
      <div class="card-header" >
          {{studentId.school_name}}</div>
      <div class="middle">
          <!-- card slot section  -->
          <div class="left">
              <label>Name: {{studentId.name}}</label>
              <label>Phone: {{studentId.phone}}</label>
              <label>DOB: {{studentId.dob}}</label>
              <label>City: {{studentId.city}}</label>
              <label>Email:  {{studentId.email}}</label>
              

          </div>
          <div class="right">
              <img src="{{studentId.profile_picture}}" alt="" width="80px">

          </div>
         
      </div>      
      <div class="card-footer">
        <button routerLink="/dashboard/student-details/{{studentId.id}}" class="btn btn-primary m-3">View</button>
        <button routerLink="/dashboard/edit-studentid/{{studentId.id}}" class="btn btn-info m-3">Edit</button>
        <button (click)="delete(studentId.id)" class="btn btn-danger m-3">Delete</button>
          
      </div>
      
  </div>
</body>
